<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>Tambah</ion-title> -->
    <ion-card>
      <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label="nama" [(ngModel)]="nama" labelPlacement="stacked" placeholder="Wajib"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input label="harga" [(ngModel)]="harga" labelPlacement="stacked" placeholder="Wajib"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input label="stok" [(ngModel)]="stok" labelPlacement="stacked" placeholder="unlimited"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label="Awal" [(ngModel)]="tgl_awal" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input  label="Akhir" [(ngModel)]="tgl_akhir" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">barang</ion-title>
    </ion-toolbar>
    
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" fill="solid" (click)="open_link()" >
          Refresh
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" fill="solid" (click)="get_absensi()" >
          Absensi
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" fill="solid" (click)="get_bahan()" >
          Bahan
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" fill="solid" (click)="tambah_barang()" >
          Tambah
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let item of datas_barang; index as i" >
    <form  #form="ngForm" (ngSubmit)="alert_update(form,i,item.id)">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input name="name" label="nama" [ngModel]="nama_update[i]" [ngModelOptions]="{standalone: false}" labelPlacement="stacked" placeholder="Enter text"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input name="harga"  label="harga" [ngModel]="harga_update[i]" [ngModelOptions]="{standalone: false}" labelPlacement="stacked" placeholder="Enter text"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input name="stok"  label="stok" [ngModel]="stok_update[i]" [ngModelOptions]="{standalone: false}" labelPlacement="stacked" placeholder="unlimited"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        
        <ion-grid>
          <ion-row>
          <ion-col>
            <ion-toggle *ngIf="item.status" (click)="disable_barang(id_update[i])" checked ></ion-toggle>
              <ion-toggle *ngIf="!item.status" (click)="enable_barang(id_update[i])" ></ion-toggle>
            </ion-col>
            <ion-col>
              <ion-button color="danger" fill="solid" (click)="alert_barang(id_update[i])" >
                <ion-icon name='trash' ></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
                <ion-button type="submit" color="primary" fill="solid" >
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </form>
    
  </ion-card>

  
  <ion-card *ngFor="let item of datas_bahan; index as i" >
    <form  #form="ngForm" (ngSubmit)="alert_updatebahan(form,i,item.id)">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input name="nama"  label="Nama" [ngModel]="namabahan_update[i]" [ngModelOptions]="{standalone: false}" labelPlacement="stacked" placeholder="Enter text"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input name="stok"  label="Sisa / Tambah stok (Gr)" [ngModel]="banyakbahan_update[i]" [ngModelOptions]="{standalone: false}"  labelPlacement="stacked" placeholder="0"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>{{ ketbahan_update[i] }}</ion-text>
            </ion-col>
            <ion-col>
                <ion-button type="submit" color="primary" fill="solid" >
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </form>
    
  </ion-card>

      <ion-accordion-group *ngFor="let item of absensi" >
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-row>
              <ion-col>
                <ion-label>{{item.name}}</ion-label>
              </ion-col>
              <ion-col>
                <!-- <ion-label>{{item.tanggal}}</ion-label> -->
              </ion-col>
            </ion-row>
            <ion-badge color="primary"  slot="end" >{{item.tanggal}}</ion-badge>
            <ion-badge color="primary"  slot="end" *ngIf="item.status == 'masuk'" ><ion-icon name="checkmark-done-circle-outline"></ion-icon></ion-badge>
            <ion-badge color="danger"  slot="end" *ngIf="item.status == 'libur'" ><ion-icon name="warning-outline"></ion-icon></ion-badge>
          </ion-item>
          
          <div class="ion-padding" slot="content">
            <div *ngIf="item.foto != null && item.foto != ''">
              <ion-row>
                <ion-col>
                  <ion-label>Masuk</ion-label>
                  <ion-label>:</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>Pulang</ion-label>
                  <ion-label>:</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ item.created_at }}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>{{ item.updated_at }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-img
                src="{{ item.foto }}"
              ></ion-img>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>
    