<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size="auto">
        <ion-title>login</ion-title>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="solid" (click)="login()" >
        login
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-content>
