<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Penjualan
    </ion-title> -->
    <ion-item>
      <!-- <ion-badge color="danger" slot="start">{{minus}}</ion-badge> -->
      <!-- <ion-label color="danger"> </ion-label>
      | -->
      <ion-label color="primary">Total hari ini </ion-label>
      <ion-badge color="success" slot="end">{{total}}</ion-badge>
      <!-- <ion-badge slot="end">{{add}}</ion-badge> -->
    </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label="Cari" [(ngModel)]="cari_barang" labelPlacement="stacked" placeholder="Nama / Harga"></ion-input>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="success" fill="solid" (click)="open_link()" >
              refresh
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- <ion-button color="success" fill="solid" (click)="open_link()" >
    refresh
  </ion-button> -->
  <ion-item *ngIf="jenis == 'utama'">
    <form  #form="ngForm" (ngSubmit)="set_date(form)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input name="awal" label="Awal" [ngModel]="tgl_awal" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input  name="akhir" label="Akhir" [ngModel]="tgl_akhir" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button  type="submit" fill="solid" >
        get
      </ion-button>
    </form>
  </ion-item>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let item of datas" >
    <ion-item *ngIf="item.nama != ''">
      <!-- <ion-label>Followers</ion-label> -->
      <ion-label>{{item.nama}}</ion-label>
      <!-- <ion-badge color="danger">{{item.kurang}}</ion-badge> -->
      <ion-badge color="success" slot="end">{{item.tambah - item.kurang}}</ion-badge>
      <!-- <ion-badge color="" slot="end">{{item.tambah}}</ion-badge> -->
    </ion-item>
    <ion-item>
      <div>
        <ion-row>
          <ion-col>
            <ion-label>{{item.harga | currency:'Rp ':'symbol':'3.0' }}</ion-label>
          </ion-col>
          <ion-col *ngIf="item.stok > 0">
            <ion-badge color="danger">Stok : {{item.stok}}</ion-badge>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
    <ion-item>
      <div>
        <ion-button color="danger" fill="solid" (click)="alert_kurang(item.id,item.nama)" >
          kurang
        </ion-button>
        <ion-button fill="solid" (click)="alert_tambah(item.id,item.nama)" >
          tambah
        </ion-button>
      </div>
    </ion-item>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
