<ion-header [translucent]="true">
  
  <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="nama" label="Pembeli" labelPlacement="stacked" placeholder="Nama"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input name="total" label="Total harga" value="{{ total_harga | currency:'Rp ':'symbol':'3.0' }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="alert_simpan()"  color="primary" fill="clear" >
              Simpan
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="success" fill="solid" (click)="ngOnInit()" >
    Refresh
  </ion-button>
  <div *ngFor="let item of datas" >
  <ion-card *ngIf="penjualan_barang[item.id] > 0" >
    <div >
      <ion-item>
        <ion-label>
          <ion-input name="nama" label="Barang" value="{{ item.nama }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
        </ion-label>
        <ion-label>
          <ion-input name="id" label="Banyak" value="{{penjualan_barang[item.id]}}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
          <!-- <ion-input label="Banyak" [(ngModel)]="penjualan_barang[item.id]"  labelPlacement="stacked" placeholder="Enter text" ></ion-input>
            <ion-input label="Banyak" [(ngModel)]="penjualan_barang[item.id]"  labelPlacement="stacked" placeholder="Enter text" ></ion-input> -->
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-input name="Harga sekarang" label="Harga Sekarang" value="{{ item.harga | currency:'Rp ':'symbol':'3.0' }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
        </ion-label>
        <div>
          <ion-input label="Harga Ubah" [(ngModel)]="harga_barang[item.id]" labelPlacement="stacked" placeholder="Enter text" ></ion-input>
        </div>
      </ion-item>
      <ion-item>
        <div>
          <ion-button color="danger" fill="solid" (click)="alert_kurang(item.id,item.nama)" >
            kurang
          </ion-button>
          <ion-button fill="solid" (click)="alert_tambah(item.id,item.nama)" >
            tambah
          </ion-button>
        </div>
      </ion-item>
    </div>
  </ion-card>
  </div>
</ion-content>
