<ion-header [translucent]="true">
  
  <ion-item>
    <ion-label color="primary">Transaksi </ion-label>
    <ion-badge color="success" slot="end">{{total_harga | currency:'Rp ':'symbol':'3.0' }}</ion-badge>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-item *ngIf="jenis == 'utama'"> -->
  <ion-item>
    <form  #form="ngForm" (ngSubmit)="set_date(form)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input name="awal" label="Awal" [ngModel]="tgl_awal" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input  name="akhir" label="Akhir" [ngModel]="tgl_akhir" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button  type="submit" fill="solid" >
        get
      </ion-button>
    </form>
  </ion-item>
  
  <ion-button color="success" fill="solid" (click)="ngOnInit()" >
    Refresh
  </ion-button>
  <ion-card *ngFor="let item of datas" >
    <!-- <div *ngIf="penjualan_barang[item.id] > 0"> -->
      <ion-item>
        <ion-label>
          <ion-input name="total" label="Pembeli" value="{{ item.nama }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
        </ion-label>
        <ion-label>
          <!-- {{ subitem.nama }} -->
          <ion-input name="total" label="Total" value="{{ item.total_harga | currency:'Rp ':'symbol':'3.0' }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
        </ion-label>
        <ion-badge color="primary" slot="end">{{item.tanggal }} <br><br> {{item.waktu}}</ion-badge>
      </ion-item>
      <!-- <ion-item> -->
          <ion-grid>
            <ion-row>
              <ion-col>
                <h5>Barang</h5>
              </ion-col>
              <ion-col>
                <h5>Jumlah</h5>
              </ion-col>
              <ion-col>
                <h5>Harga</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
      <!-- </ion-item> -->
      <div *ngFor="let subitem of item.barang" >
        <!-- <ion-item> -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p>{{ subitem.nama }}</p>
                </ion-col>
                <ion-col>
                  <p>{{ subitem.jumlah }}</p>
                </ion-col>
                <ion-col>
                  <p>{{ subitem.harga | currency:'Rp ':'symbol':'3.0' }}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
        <!-- </ion-item> -->
      </div>
    <!-- </div> -->
  </ion-card>
</ion-content>
