<ion-header [translucent]="true">
  
  <ion-item>
    <ion-label color="primary">Transaksi </ion-label>
    <ion-badge color="success" slot="end">{{total_harga | currency:'Rp ':'symbol':'3.0' }}</ion-badge>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="jenis == 'utama'">
    <form  #form="ngForm" (ngSubmit)="set_date(form)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input name="awal" label="Awal" [ngModel]="tgl_awal" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input  name="akhir" label="Akhir" [ngModel]="tgl_akhir" labelPlacement="stacked" placeholder="Enter text" type="date"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button  type="submit" fill="solid" >
        get
      </ion-button>
    </form>
  </ion-item>
  
  <ion-button color="success" fill="solid" (click)="ngOnInit()" >
    Refresh
  </ion-button>
  <ion-card *ngFor="let item of datas" >
    <!-- <div *ngIf="penjualan_barang[item.id] > 0"> -->
      <ion-item>
        <ion-label>
          <ion-input name="total" label="Pembeli" value="{{ item.nama }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
        </ion-label>
        <ion-label>
          <ion-input name="total" label="Total" value="{{ item.total_harga | currency:'Rp ':'symbol':'3.0' }}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input>
        </ion-label>
        <ion-label>
          <!-- <ion-input name="total" label="Banyak" value="{{penjualan_barang[item.id]}}" labelPlacement="stacked" placeholder="Enter text" readonly></ion-input> -->
        </ion-label>
        </ion-item>
      <ion-item>
        <div>
          <!-- <ion-button color="danger" fill="solid" (click)="alert_kurang(item.id,item.nama)" >
            kurang
          </ion-button>
          <ion-button fill="solid" (click)="alert_tambah(item.id,item.nama)" >
            tambah
          </ion-button> -->
        </div>
      </ion-item>
    <!-- </div> -->
  </ion-card>
</ion-content>
